body {
    height: 100vh;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 0px;
    /*this will limit the
    body max width*/
    /*width: 1400px;
    align-items: stretch;
    background-color: rgb(30, 30, 30);
    margin-left: auto;
    margin-right: auto;*/
}

/*--------------------*/

.header {
    display: flex;
    flex: 0 0 auto;
    color: white;
    padding: 20px 220px;
    gap: 20px;
}

.logo {
    flex: auto;
    font-size: 32px;
}

.header-links {
    flex: 0 0 auto;
    justify-content: flex-end;
    font-size: 18px;
}

a:link, a:visited {
    font-style: normal;
    text-decoration: none;
    color: inherit;
}

/*--------------------*/

.content {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: stretch;
    color: white;
}

.section {
    display: flex;
    flex: auto;
    padding: 50px 220px;
    gap: 20px;
}

.column {
    flex-direction: column;
}

.left-item,
.right-item {
    flex: 1 1 0%;
}

.right-item {
    justify-content: stretch;
    align-items: stretch;
}

.right-item img {
    flex: 1 1 auto;
    width: 522px;
    height: 237px;
    padding: 0px;
}

.left-item .title {
    flex: auto;
    font-size: 48px;
    font-weight: 900;
}

.left-item .text {
    flex: auto;
    font-size: 18px;
    color: #e5e7eb;
}

.left-item .button {
    flex: auto;
    padding: 10px 0px;
}

.left-item .text {
    flex: auto;
}

.left-item .button button {
    padding: 10px 30px;
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    border: 0px;
    font-size: 18px;
}


/*--------------------*/

.title2 {
    text-align: center;
    margin: 20px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.illustrations {
    display: flex;
    flex: auto;
    gap: 10px;
    justify-content: space-evenly;
}

.illustration {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    width: 180px;
}

.illustration img {
    flex: 0 1 auto;
    border-radius: 10px;
}

.illustration .text {
    flex: 1 1 auto;
}

/*--------------------*/

.frame,
.container,
.container .title,
.container .text {
    display: flex;
    flex: auto;
    background-color: #3882f6;
    color: white;
}

.frame {
    padding: 50px 100px;
    align-self: center;
}

.container {
    flex-direction: column;
}

.frame .button button {
    flex: 1 1 auto;
    align-self: center;
    background-color: #3882f6;
    padding: 10px 30px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
}

/*--------------------*/

#quote {
    font-size: 36px;
    color: #1f2973;
    font-style: italic;
    flex-direction: column;
}

.signed {
    align-self: flex-end;
    font-style: normal;
    color: #1f2937;
}


/*--------------------*/

.footer {
    display: flex;
    flex: 0 0 auto;
    padding: 20px 0px;
    justify-content: center;
}

/*--------------------*/
/*       colors       */
/*--------------------*/

.bg1 {
    background-color: #1f2937;
    color: white;
}

.bg2 {
    background-color: whitesmoke;
    color: black;
}

.bg3 {
    background-color: #e5e7eb;
    color: black;
}

/*show all boxes*/
/** {
    border: 1px solid gray;
    margin: 3px;
}*/